{{> header}}
    <div class="centered-form">

      {{#if error}}
      <div class="centered-tab" id="error">
        {{error}}
      </div>
      {{else}}
        {{#if success}}
        <div class="centered-tab" id="success">
          {{success}}
        </div>
        {{else}}
        <div class="centered-tab">
        </div>
        {{/if}}
      {{/if}}


      <script src="/js/libs/moment.js"></script>
      <script src="/js/libs/jquery-3.2.1.min.js"></script>
      <script src="/js/delete.js"></script>


      <div class="centered-tab">


        <table class="list">
          <tr>

            <th>Ticket #</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Fish</th>
            <th>Weight</th>
            <th>Time</th>
            <th>
            <section title=".slideThree">
                <!-- .slideThree -->
                <div class="slideThree">
                  <input type="checkbox" value="None" id="deleteCheck" name="check"/>
                  <label for="deleteCheck"></label>
                </div>
                <!-- end .slideThree -->
              </section>
            </th>

          </tr>
          {{#each data}}
          <form name="{{_id}}" action="/editData" method="POST" onsubmit="return confirm('Do you really want to Update/Delete?');">
            <tr>
              <td style="display: none;"><input type="text" name="id" value="{{_id}}" readonly></td>
              <td><input type="text" name="ticket" autocomplete="off" value={{ticket}}></td>
              <td><input type="text" name="firstName" autocomplete="off" value={{firstName}}></td>
              <td><input type="text" name="lastName" autocomplete="off" value={{lastName}}></td>
              <td>
                <select name="fish">
                  <option value="{{fish}}">{{fish}}</option>
                  <option value="fish1">fish1</option>
                  <option value="fish2">fish2</option>
                  <option value="fish3">fish3</option>
                  <option value="fish4">fish4</option>
                </select>
              </td>
              <td><input type="text" name="weight" autocomplete="off" value={{weight}}></td>
              <td>
                <script>
                   var str = moment({{createdAt}}).format('h:mm:ss A');
                   $("td:last").html(str);
                </script>
              </td>
              <td>
                <button id="update" type="submit">Update</button>
                <button id="delete" type="submit" formaction="/deleteTicket" style="background-color: #B33A3A;" hidden="hidden">Delete</button>
              </td>
            </tr>
          </form>
          {{/each}}
        </table>
      </div>

      <div class="centered-tab" id="info">
        <table>
          <tr>
            <th>Total</th>
            <th>fish 1</th>
            <th>fish 2</th>
            <th>fish 3</th>
            <th>fish 4</th>
          </tr>
          <tr>
            <td>{{total}}</td>
            <td>{{fish1}}</td>
            <td>{{fish2}}</td>
            <td>{{fish3}}</td>
            <td>{{fish4}}</td>
          </tr>
        </table>
      </div>
      <div class="centered-tab">
          <form class="info_form">
            <div class="info_stuff">
              <button>get JSON</button>
            </div>
            <div class="info_stuff">
              <input type="text"></input>
              <button>DELETE ALL</button>
            </div>
          </form>
      </div>

    </div>


<script src="/js/delete.js"></script>
<script src="/js/messageClear.js"></script>

  </body>

</html>
