{{> header}}

<link rel="stylesheet" href="/css/styles.css">
<script src="/js/libs/moment.js"></script>



    <div class="row">
      <div class="col-lg-10 text-center col-lg-offset-1">
        {{#if error}}
        <div class="panel panel-danger" id="error">
          <div class="panel-heading">
          <h3>{{error}}</h3>
          </div>
        </div>
        {{else}}
        {{#if success}}
          <div class="panel panel-success" id="success">
            <div class="panel-heading">
              <h3>{{success}}</h3>
            </div>
          </div>
        {{else}}
        {{/if}}
        {{/if}}
      </div>
    </div>



    <!-- /.row -->
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover " id="dataTables-example">
                        <thead>
                            <tr>
                              <th>Identification</th>
                              <th>Username</th>
                              <th>Admin</th>
                              <th>Editor</th>
                              <th>
                              <section title=".slideThree">
                                  <!-- .slideThree -->
                                  <div class="slideThree">
                                    <input type="checkbox" value="None" id="deleteCheck" name="check"/>
                                    <label for="deleteCheck"></label>
                                  </div>
                                  <!-- end .slideThree -->
                                </section>
                              </th>
                            </tr>
                        </thead>
                        <tbody>
                          {{#each data}}
                          <form name="{{_id}}" action="/editUsers" method="POST" onsubmit="return confirm('Do you really want to Update/Delete?');">
                            <tr>
                              <input type="text" name="id" value="{{_id}}" readonly hidden="hidden">
                              <td style="font-size: 12px;">{{_id}}</td>
                              <td><input type="text" class="form-control" name="username" autocomplete="off" value={{username}}></td>
                              {{#if administration}}
                              <td><input type="checkbox" name="administration" checked="checked" value="true"></td>
                              {{else}}
                              <td><input type="checkbox" name="administration" value="true"></td>
                              {{/if}}
                              {{#if editor}}
                              <td><input type="checkbox" name="editor" checked="checked" value="true"></td>
                              {{else}}
                              <td><input type="checkbox" name="editor" value="true"></td>
                              {{/if}}
                              <td>
                                <button id="update" class="btn btn-primary" type="submit">Update</button>
                                <button id="delete" class="btn btn-danger" type="submit" formaction="/deleteUser" style="display: none">Delete</button>
                              </td>
                            </tr>
                          </form>
                          {{/each}}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                  </div>
                </div>
              </div>
            </div>
            <script src="/js/delete.js"></script>
            <script src="/js/messageClear.js"></script>
  </div>
  </body>

</html>


<!--
    <div class="centered-form">

      {{#if error}}
      <div class="centered-tab" id="error">
        {{error}}
      {{else}}
        {{#if success}}
        <div class="centered-tab" id="success">
          {{success}}
        {{else}}
        <div class="centered-tab">
        {{/if}}
      </div>
      {{/if}}

      <div class="centered-tab">
        <script src="/js/libs/moment.js"></script>
        <script src="/js/libs/jquery-3.2.1.min.js"></script>


        <table class="list">
          <tr>

            <th>Identification</th>
            <th>Username</th>
            <th>Admin</th>
            <th>Editor</th>
            <th>
            <section title=".slideThree">

                <div class="slideThree">
                  <input type="checkbox" value="None" id="deleteCheck" name="check"/>
                  <label for="deleteCheck"></label>
                </div>

              </section>
            </th>
          </tr>
          {{#each data}}
          <form name="{{_id}}" action="/editUsers" method="POST" onsubmit="return confirm('Do you really want to Update/Delete?');">
            <tr>
              <input type="text" name="id" value="{{_id}}" readonly hidden="hidden">
              <td style="font-size: 12px;">{{_id}}</td>
              <td><input type="text" name="username" autocomplete="off" value={{username}}></td>
              {{#if administration}}
              <td><input type="checkbox" name="administration" checked="checked" value="true"></td>
              {{else}}
              <td><input type="checkbox" name="administration" value="true"></td>
              {{/if}}
              {{#if editor}}
              <td><input type="checkbox" name="editor" checked="checked" value="true"></td>
              {{else}}
              <td><input type="checkbox" name="editor" value="true"></td>
              {{/if}}
              <td>
                <button id="update" type="submit">Update</button>
                <button id="delete" type="submit" formaction="/deleteUser" style="background-color: #B33A3A;">Delete</button>
              </td>
            </tr>
          </form>
          {{/each}}
        </table>
      </div>
    </div>

<script src="/js/delete.js"></script>
<script src="/js/messageClear.js"></script>

  </body>

</html>
-->
