{{> header}}
    <div class="centered-form">
      <div class="centered-tab">
        <script src="/js/libs/moment.js"></script>
        <script src="/js/libs/jquery-3.2.1.min.js"></script>


        <table class="list" style="width:100%">
          <tr>

            <th>Identification</th>
            <th>Username</th>
            <th>Admin</th>
            <th>Editor</th>
            <th>
            <section title=".slideThree">
                <!-- .slideThree -->
                <div class="slideThree">
                  <input type="checkbox" value="None" id="deleteCheck" name="check"/>
                  <label for="deleteCheck"></label>
                </div>
                <!-- end .slideThree -->
              </section>
            </th>
          </tr>
          {{#each data}}
          <form name="{{_id}}" action="/editUsers" method="POST">
            <tr>
              <input type="text" name="id" value="{{_id}}" readonly hidden="hidden">
              <td style="font-size: 12px;">{{_id}}</td>
              <td><input type="text" name="username" autocomplete="off" value={{username}}></td>
              {{#if administration}}
              <td><input type="checkbox" name="administration" checked="checked" value="true"></td>
              {{else}}
              <td><input type="checkbox" name="administration" value="true"></td>
              {{/if}}
              {{#if editor}}
              <td><input type="checkbox" name="editor" checked="checked" value="true"></td>
              {{else}}
              <td><input type="checkbox" name="editor" value="true"></td>
              {{/if}}
              <td>
                <button id="update" type="submit">Update</button>
                <button id="delete" type="submit" formaction="/deleteUser" style="background-color: #B33A3A;">Delete</button>
              </td>
            </tr>
          </form>
          {{/each}}
        </table>
      </div>
    </div>

<script src="/js/delete.js"></script>


  </body>

</html>
