{{> headerList}}
    <div class="centered-form">
      <div class="centered-tab">
        <script src="/js/libs/moment.js"></script>
        <script src="/js/libs/jquery-3.2.1.min.js"></script>
        <table class="list" style="width:100%">
          <tr>
            <!-- <caption>Registered Fish</caption> -->
            <th>First Name</th>
            <th>Last Name</th>
            <th>Ticket Number</th>
            <th>Fish</th>
            <th>Weight</th>
            <th>Time</th>
          </tr>
          {{#each data}}
          <tr>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{ticket}}</td>
            <td>{{fish}}</td>
            <td>{{weight}}</td>
            <td>
              <script>
                 var str = moment({{createdAt}}).format('h:mm:ss A');
                 $("td:last").html(str);
              </script>
            </td>
          </tr>
          {{/each}}
        </table>
      </div>
    </div>



  </body>

</html>
