{{> header}}
    <div class="centered-form">
      <div class="centered-tab">
        <script src="/js/libs/moment.js"></script>
        <script src="/js/libs/jquery-3.2.1.min.js"></script>
        <script> var i = 1</script>

        <table class="winners">
          <tr>
            <caption id="lastUpdate" style="font-weight:bold">Winners</caption>

            <th>Place</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Fish</th>
            <th>Weight</th>
            <th>Time</th>
          </tr>
          {{#each data}}
          <tr id="row_{{_id}}">
            <td id="place_{{_id}}">
              <script>
                $("#place_{{_id}}").html(i);
                if(i > 25 && i%5 != 0 && i <= 300) {
                  $("#row_{{_id}}").css("display", "none");
                }

                i += 1;

              </script>
            </td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{fish}}</td>
            <td>{{weight}}</td>
            <td>
              <script>
                 var str = moment({{createdAt}}).format('h:mm:ss A');
                 $("td:last").html(str);
              </script>
            </td>
          </tr>
          {{/each}}
        </table>
      </div>
    </div>



  </body>

</html>
